body {
    background-color: #f9f9f9;
    font-family: "Crimson Text";
}

.main {
    background: #fff;
}

.home-description {
    font-style: italic;
    font-weight: 600;
    font-family: "Crimson";
    font-size: 19px;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 29px;
    margin: 0px;
}

.social a i {
    height: 40px;
    width: 40px;
    border: 1px solid #111;
    line-height: 40px;
    margin: 0 10px;
    color: #111;
    font-size: 20px;
    padding-bottom: 20px;
}

.social a:hover i {
    color: #fff;
    border-color: #bb9e7d;
    background-color: #bb9e7d;
}


@media (min-width: 778px) {
    .main {
        height: 100vh;
        overflow: hidden;
    }

    .img-rabbit {
        /*margin: 0 -15px;*/
    }

    .btn-group-vertical {
        padding: 20px 87.5px;
    }

    .info {
        font-family: "Crimson";
        line-height: 28px;
        font-size: 16px;
        padding-top: 15px;
        padding-right: 50px;
    }

    .home-description {
        padding-right: 90px;
        padding-left: 90px;
        margin: 0px;
    }
}

.img-rabbit {
    width: 100%;
}

.btn-rabbit {
    background-color: #fff;
    color: #111;
    font-style: italic;
    border: 1px solid #111;
    border-radius: 0px !important;
    transition: all 0.4s ease-in-out;
    margin-bottom: 20px;
    font-family: "Crimson";
    font-size: 13px;
}

.btn-rabbit:hover {
    color: #fff;
    background-color: #bb9e7d;
    border-color: #bb9e7d;
}

p {
    color: #585757;
    font-size: 16px;

}

.page-title {
    text-transform: uppercase;
    font-family: 'Josefin Sans';
}

/*Home Style*/
.logo {
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 12px;
}

.logo h4 {
    font-family: 'Josefin Sans';
}


footer {
    padding: 22px 0 10px 0;
    font-style: italic;
}


.back {
    width: 170px;
    font-family: "Crimson";
    font-size: 17px;
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    display: block;
    clear: both;
    margin-top: 50px;
}

.back i {
    margin-left: -40px;
    margin-right: 17px;
    font-size: 20px;
}


.form-control {
    margin-top: 30px;
    width: 75%;

}

.btn {
    padding: 10px 60px;
    height: 45px;
    font-size: 16px;
}

.btn-group-vertical {
    font-family: "Josefin Sans";
}

.about {
    font-family: "Josefin Sans";
    /*margin-top: 35px;*/
    /*margin-bottom: 25px;*/
    font-size: 32px;

}

.form-control {
    font-style: italic;
    border-radius: 0;
    font-family: "Crimson";
    font-size: 16px;
}

.page-title {

    font-size: 32px;
    font-family: "Josefin Sans";
}

.fa-heartbeat {
    color: #bb9e7d;
}

::selection {
    color: #fff;
    background-color: #bb9e7d;
}

.bottom {
    padding-right: 20px;
}

.page-title {
    position: relative;
    display: inline-block;
}

.page-title:after, .page-title:before {
    content: '';
    position: absolute;
    height: 1px;
    background-color: black;
    left: 0;
    margin: 2px;
}

.social {
    padding-top: 20px;
}

.submit {

    font-family: "Crimson"
    font-size: 16px;
}

.subtitle {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    color: #3b3b3b;
    line-height: 28px;
    font-family: "Crimson";
    margin-top: 15px;
    margin-bottom: 20px;
    padding-right: 40px;

}

.page-title:after {
    width: 75%;
    top: -9px;

}

.page-title:before {
    width: 40%;
    bottom: -7px;
}

#watermark .marker {
    position: absolute;
    font-size: 60px;
    opacity: 0.1;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    left: 0;
    top: -5px;
}

#watermark {
    position: relative;
}

.item {

    background-color: #313131;
    color: #f9f9f9;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
    /*margin-left: 0px;*/
}

.owl-theme .owl-controls {
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: calc(44% - 40px);
}

.owl-next {
    right: 0;
    padding-right: 1px;

}

.owl-prev {
    left: 0;
    padding-left: 1px;
}


.owl-theme .owl-controls .owl-nav [class*=owl-] {
    position: absolute;
    border-radius: 0px;
    font-size: 21px;
    padding: 15px 20px;
    margin: 0px;
    background-color: #fff;

}

.owl-theme .owl-controls .owl-nav [class*=owl-] i {
    color: #333;

}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background-color: #bb9e7d;
    border-color: #bb9e7d;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover i {
    color: #fff;
}

@media (max-width: 1024px) and (orientation: landscape) {
    .main {
        height: auto;
    }
}

.custom_btn {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s;
    -vendor-animation-iteration-count: infinite;
}

.show {
    display: block;
}


/* Custom CSS */
.profile-thumb {
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.logo-box {
    height: 100%;
}

.wh-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-tc h1, .display-tc h2, .display-tc h3 {
    margin: 0;
    padding: 0;
    color: black;
}

.display-tc h1 {
    font-family: "Kaushan Script", cursive;
    margin-bottom: 30px;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 300;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.display-tc h1 span {
    padding: 4px 15px;
    position: relative;
}

.display-tc h1 span:before {
    position: absolute;
    top: 40px;
    left: 0;
    width: 30px;
    height: 4px;
    content: '';
    background: #fff;
    margin-left: -30px;
}

.display-tc h1 span:after {
    position: absolute;
    top: 40px;
    right: 0;
    width: 30px;
    height: 4px;
    content: '';
    background: #fff;
    margin-right: -30px;
}

.contact_info {
    margin: 0;
    padding: 0;
    width: 90%;
    float: left;
}

@media screen and (max-width: 768px) {
    .info {
        margin-bottom: 3em;
    }
}

.contact_info li {
    width: 100%;
    float: left;
    list-style: none;
    padding: 10px 0;
}

.contact_info li:first-child {
    padding-top: 0;
}

.contact_info li .first-block {
    display: inline-block;
    float: left;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.contact_info li .second-block {
    width: 60%;
    display: inline-block;
    font-size: 16px;
}

/* WORK */
.d-flex {
    display: flex;
}

.work_info {
    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    height: 100%;
    min-height: 600px;
}

.work_info .list {
    margin: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.work_info:before {
    content: "";
    height: 100%;
    width: 5px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.work_info .list li {
    margin-bottom: 60px;
    position: relative;
    list-style: none;
}

.work_info .list li span {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
}

.work_info .list li span:before {
    content: '';
    height: 7px;
    width: 7px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);
}

.work_info .list li:last-child {
    margin-bottom: 0px;
}

.work_info .list li .media div {
    width: 33%;
}

.work_info .list li .media .d-flex p {
    color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 50%;
}

.work_info .list li .media {
    display: flex;
}

.work_info .list li .media .media-body {
    flex: 1;
}

.work_info .list li .media .media-body h4 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 8px;
    font-weight: bold;
}

.work_info .list li .media .media-body p {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 0px;
}